html{
    height: auto;
    margin: auto;
    font-size: 62.5%; 
}

/*header*/
.h_logo{ position: absolute; width: 100%; z-index: 2;}
.logo{ position: absolute; margin-top: 60px; right: 5.5%; z-index: 2;}
.headertext{
    position: absolute;
    margin-top: 50px;
    height: 36rem;
    top: 70px;
    right: 10%;
    z-index: 5;
}

/*history*/
.history{ margin-top: -37px;}
.content_title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18rem;
    letter-spacing: 0.1rem;
    text-align: center;
}
.content_title_mid{ display: none;}
.bg_history1_box{ margin-top: 50px; display: flex; justify-content: center;}
.bg_history1{ width: 750px; height: 350px; background: rgba(196, 196, 196, 0.3);}
.img_pockybox{ position: absolute; width: 900px; margin-top: 40px; margin-left: 25px;}
.content_text{
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 2.6rem;
    margin-top: 380px;
    margin-left: -90px;
}
.bg_history2_box{ margin-top: 200px;}
h2{ font-size: 3.8rem !important;}
.history_title{
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    width: 480px;
    line-height: 5.2rem;
    top: 1800px;
    margin-left: 120px;
}
.bg_history2_box p{
    position: absolute;
    width: 450px;
    font-weight: normal;
    top: 1350px;
    margin-left: 900px;
}

/*flavor*/
.flavor_title{ display: flex; justify-content: space-between;}
.flavor_title .content_title{ margin-left: 130px;}
.img_smallcontent{ height: 35px; margin-top: 100px; margin-right: 100px;}
.flavor_text h2{ font-family: 'Roboto', sans-serif; font-weight: bold;}
.flavor_text p{ font-family: 'Noto Sans JP', sans-serif; font-weight: bold; font-size: 1.6rem;}
.flavorbox{ width: 150px; height: 220px; margin-top: 10px; margin-bottom: 10px;}
.flavor_content{ display: flex;}
.flavor_text{ margin-top: 90px;}

.chocolate{ background-color: #FF394A;}
.chocolate .flavor_text{ color: white; margin-left: 153px;}
.chocolate .flavorbox{ width: 145px; margin-left: 18%;}
.strawberry{ background-color: #FFB2DB;}
.strawberry .flavor_text{ color: #EC6360; margin-left: 150px;}
.strawberry .flavorbox{ margin-left: 16%;}
.matcha{ background-color: #3DA44C;}
.matcha .flavor_text{ color: white; margin-left: 170px;}
.matcha .flavorbox{ margin-left: 22%;}
.potato{ background-color: #8EEBFF;}
.potato .flavor_text{ color: #D83F4C; margin-left: 170px;}
.potato .flavorbox{ margin-left: 23%;}
.melon{ background-color: #FFDB7E;}
.melon .flavor_text{ color: #4CBD5D; margin-left: 170px;}
.melon .flavorbox{ margin-left: 24.3%;}

/*footer*/
.img_color{ margin-top: 100px; display: flex; justify-content: center;}
.color_1{width:25px;height: 25px;background: #FF5462;margin-right: 10px;}
.color_2{width:25px;height: 25px;background: #FFB2DB;margin-right: 10px;}
.color_3{width:25px;height: 25px;background: #3DA44C;margin-right: 10px;}
.color_4{width:25px;height: 25px;background: #8EEBFF;margin-right: 10px;}
.color_5{width:25px;height: 25px;background: #FFDB7E;}
footer .container h3{font-weight: bold;text-align: center;margin-top: 15px;}
.btn_footer{display: flex;justify-content: center;margin-top: 20px;}
.btn_fb,.btn_ig,.btn_twitter{margin-right: 30px;}
.btn_fb:hover,.btn_ig:hover,.btn_twitter:hover,.btn_yt:hover{opacity: 0.5;}
footer .container p{color:#858585; text-align: center; margin-top: 20px;}

@media screen and (max-width: 1024px) {
    .bg_text p{width: 394px;height: 763px;}
    .btn_flavor img{width: 65px;height: 65px;}    
}
@media screen and (max-width: 768px) {
    .introduce{ margin-top: -10px!important;}
    .content_title{ display: none;}
    .content_title_mid{ display: block; font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 10rem;
                        letter-spacing: 0.1rem; line-height: 10rem; text-align: left;}
    .history{ margin-top: -12px;}
    .content_title{ font-size: 9.5rem;}
    .bg_history1_box{ margin-top: 50px; justify-content: flex-end;}
    .bg_history1{ width: 600px; height: 300px;}
    .img_pockybox{ width: 650px; margin-top: 55px; margin-left: -10px;}
    .content_text{ font-size: 2rem; margin-top: 340px; margin-right: 70px;}
}
@media screen and (max-width: 426px) {
    .strawberry_bg{background-image:url('../img/strawberry/bg_strawberry_s.png');width:100%;background-repeat: no-repeat;}
    .bg_text{width: 283px;height: 434px;margin-top:200px;}
    .bg_text p{padding:30px;width: 395.6px;height: 434px;font-size: 1.2rem;}
    .bg_strawberry img{display: none;}
    content{display:inline;margin-top:0px;}
    .strawberry_h1 img{width:277px;height:91px;}
    .flavor p{font-size:1rem;}
    .btn_flavor{padding-bottom:30px;}
    .btn_flavor img{width: 55px;height: 55px;}
}
@media screen and (max-width: 376px) {
    .strawberry_bg{background-image:url('../img/strawberry/bg_strawberry_s.png');width:100%;background-repeat: no-repeat;}
    .bg_text{width: 283px;height: 434px;margin-top:200px;}
    .bg_text p{padding:30px;width: 345.2px;height: 434px;font-size: 1.2rem;}
    .bg_strawberry img{display: none;}
    .btn_flavor img{width: 65px;height: 65px;}
    content{display:inline;margin-top:0px;}
    .strawberry_h1 img{width:277px;height:91px;}
    .flavor p{font-size:1rem;}
    .btn_flavor{padding-bottom:30px;}
    .btn_flavor img{width: 55px;height: 55px;}
}
@media screen and (max-width:320px){
    .bg_text p{padding:30px;width:290px;height: 450px;font-size: 1rem;}
    .flavor{margin-top:20px;}
}